{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<title>{% block title %}Events Calendar{% endblock %}</title>
{% block extra_css %}{% endblock %}
</head>
<body>
<header>
    <nav>

        <ul>
            {% if user.is_authenticated %}
             <img src="https://copilot.microsoft.com/th/id/BCO.df7334da-6050-46be-9b45-01eba6653454.png" alt="Login Illustration" style="background-color: white; width : 5%;  border-radius: 10px;" >
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'event-list' %}">My Events</a></li>

     <div style="display: flex; justify-content: center; margin-bottom: 0rem;">
    <form method="get" action="{% url 'dashboard' %}" style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
        <input type="text" name="q" placeholder="Search for an event..." 
               value="{{ query|default:'' }}" 
               style="flex: 2; padding: 1rem; border: 1px solid #ccc; border-radius: 20px; width: 400px;">
        <button type="submit" 
                class="btn-primary btn-small" 
                style="padding: 0.5rem 1rem; cursor: pointer;">Search</button>
    </form>
</div>



            <li style="margin-left: auto;"></li> <li><a href="{% url 'about' %}">About</a></li>
            
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="nav-logout-btn" >Logout</button>
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            
            <li style="margin-left: auto;"></li>
            
            <li><a href="{% url 'about' %}">About</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>